<a href="https://colab.research.google.com/github/moridin04/CCRNFLRL_EXERCISES_COM221ML/blob/main/exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 2**

In [373]:
from math import sqrt, log
import pandas as pd

**Step 1: Enter your data**

In [374]:
data = pd.DataFrame({
    "Pull": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
             11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
             21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
             31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
             41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
    "Machine": ["A", "B", "C", "A", "B", "C", "A", "A", "A", "A",
                "A", "A", "B", "B", "B", "B", "B", "B", "B", "B",
                "B", "B", "B", "B", "B", "B", "B", "B", "B", "B",
                "B", "B", "B", "B", "B", "B", "B", "B", "B", "B",
                "C", "C", "C", "C", "C", "C", "C", "C", "C", "C"],
    "Reward": [0, 0, 0, 0, 0, 0, 3, 1, 1, 1,
               0, 0, 2, 5, 16, 15, 10, 16, 27, 0,
               9, 0, 0, 0, 0, 5, 0, 0, 0, 5,
               0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
               0, 5, 60, 0, 0, 0, 15, 15, 0, 0]
})

**Step 2: Calculate UCB**

In [375]:
def calculate_ucb(df):
    results = []
    total_pulls = len(df)
    machines = sorted(df["Machine"].unique())

    for machine in machines:
        machine_data = df[df["Machine"] == machine]
        n_j = len(machine_data)
        avg_reward = machine_data["Reward"].mean()
        exploration_bonus = sqrt((2 * log(total_pulls)) / n_j) if n_j > 0 else float("inf")
        ucb_score = avg_reward + exploration_bonus
        results.append({
            "Machine": machine,
            "Pulls": n_j,
            "Avg Reward": round(avg_reward, 2),
            "Exploration Bonus": round(exploration_bonus, 4),
            "UCB Score": round(ucb_score, 4)
        })
    return pd.DataFrame(results).sort_values(by="UCB Score", ascending=False)

**Step 3: Calculate and display**

In [376]:
ucb_table = calculate_ucb(data)
print("ðŸ“Š UCB Results Table")
print(ucb_table)

ðŸ“Š UCB Results Table
  Machine  Pulls  Avg Reward  Exploration Bonus  UCB Score
2       C     12        7.92             0.8075     8.7241
1       B     30        3.67             0.5107     4.1774
0       A      8        0.75             0.9889     1.7389

**Step 4: Next machine suggestion**

In [377]:
best_machine = ucb_table.iloc[0]["Machine"]
print(f"\nðŸŽ¯ Recommended next machine to play: {best_machine}")

ðŸŽ¯ Recommended next machine to play: C

**Reflection**

Highest reward is timestep 43, from Machine C: 60 credits won.

Highest average reward from all machines is 13 from machine C, timestep 43.

Highest UCB score is 14.2266, from machine C.

Ultimately, out of 50 timesteps, **machine C** is the most profitable.